In [3]:
import pandas


file_path = "../dataset"
files = ('connections', 'devices', 'processes', 'profiles')

dataset = {}
for file in files:
    dataset[file] = pandas.read_csv(f"{file_path}/{file}.csv", sep="\t")

,ts,imei,mwra,c.dogalize,c.android.gm,c.android.youtube,c.android.chrome,c.katana,c.raider,c.android.vending,c.UCMobile.x86,c.updateassist,c.UCMobile.intl
0,2018-05-05 10:00:00,3590433799317661693,1.0,5.11208,10.02817,15.07671,12.46608,8.10118,46.20406,20.71493,79.76850,75.68132,63.99591
1,2018-05-05 10:01:00,863033069630348362,1.0,12.53455,12.44584,13.20187,9.40848,7.27400,47.72439,25.30530,80.52045,62.36753,93.24322
2,2018-05-05 10:02:00,863033069630348040,1.0,10.72532,10.75620,10.77881,11.11719,12.79590,25.14114,77.40480,37.28781,46.97291,9.08001
3,2018-05-05 10:03:00,8630330696303482121,0.0,7.73201,9.52005,12.24554,11.12170,13.77184,48.52576,72.40145,9.99980,64.95956,84.85341
4,2018-05-05 10:04:00,3590433799317661495,0.0,6.61303,7.32034,14.42927,8.01345,13.95424,64.73747,70.80009,94.57614,71.02708,27.98753